#about {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white-pale);
  display: flex;
}

#about .section-one {
  width: 40vw;
  padding-left: var(--space-big);
  padding-right: var(--space-big);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about h2 {
  margin-bottom: var(--space-title);
}

#about .section-two {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .frame-pic {
  height: 680px;
  width: 620px;
}

/*Phones and Phablets*/

@media screen and (min-width: 375px) and (max-width: 749px) {
  #about {
    height: auto;
    flex-direction: column;
  }

  #about .section-one {
    order: 2;
    width: 100vw;
    height: auto;
    padding-left: var(--space-big);
    padding-right: var(--space-big);
    margin-bottom: var(--space-big);
  }

  #about h2 {
    margin-top: var(--space-title);
    margin-bottom: var(--space-title);
  }

  #about .section-two {
    width: 100vw;
    height: auto;
    margin-top: var(--space-top);
  }

  #about .frame-pic {
    width: 325px;
    height: 325px;
    background-color: var(--color-purple-light);
  }
}

/*Tablet*/

@media screen and (min-width: 750px) and (max-width: 1000px) {
  #about {
    height: auto;
  }

  #about .section-one {
    margin-top: var(--space-top);
    margin-bottom: var(--space-top);
  }

  #about .section-two {
    margin-top: var(--space-top);
    margin-bottom: var(--space-top);
  }

  #about .frame-pic {
    height: 550px;
    width: 500px;
  }
}

/*Larger Screens*/

@media screen and (min-width: 1001px) and (max-width: 1280px) {
  #about .frame-pic {
    height: 650px;
    width: 600px;
  }
}

@media screen and (min-width: 1512px) {
  #about {
    max-width: 1512px;
    margin: 0 auto;
  }
}
