.about {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white-pale);
  display: flex;
}

.about__section-one {
  width: 40vw;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__content {
  width: 505px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about__section-two {
  width: 60vw;
  height: 100vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 625px;
  height: 690px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame__pic {
  height: 90%;
  width: 90%;
}

/*Phones : iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

/*Media queries for iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

@media screen and (min-width: 375px) and (max-width: 767px) {
  .about {
    height: auto;
    flex-direction: column;
  }

  .about__section-one {
    order: 2;
    width: 100vw;
    height: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .about__content {
    width: 95%;
    height: 450px;
    justify-content: space-evenly;
  }

  .about__content h2 {
    margin-top: 15px;
  }

  .about__section-two {
    width: 100%;
    height: auto;
    margin-top: 75px;
    margin-bottom: 10px;
  }

  .frame {
    width: 350px;
    height: 350px;
    background-color: var(--color-purple-light);
  }
}

/*Tablet*/

/*Ipad Mini, Ipad Air, Surface Pro 7*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about__section-one {
    padding-left: 25px;
    padding-right: 25px;
  }

  .about__content {
    width: 250px;
    height: 400px;
  }

  .about__content h2 {
    margin-bottom: 30px;
  }

  .frame {
    background-color: var(--color-purple-light);
  }
}
