.contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-item img {
  width: 45px;
  height: 45px;
}

/*Phones : iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

/*Media queries for iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

@media screen and (min-width: 375px) and (max-width: 767px) {
  .contact-item {
    width: 50%;
  }

  .contact-item img {
    width: 20px;
    height: 20px;
  }
}
