.contact-item {
  width: 250px;
  margin-top: var(--space-big);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.contact-item span {
  font-size: var(--text-paragraph);
}

.contact-item img {
  width: 45px;
  height: 45px;
}

/*Phones and Phablets*/

@media screen and (min-width: 375px) and (max-width: 749px) {
  .contact-item {
    width: 50%;
  }

  .contact-item img {
    width: 30px;
    height: 30px;
  }

  .contact-item span {
    font-size: var(--text-mobile);
  }
}
