.hero {
  height: 100vh;
  position: relative;
  background-color: #faf9f6;
}

.hero__section-one {
  height: 60vh;
  background-color: var(--color-moss-green);
}

.hero__section-two {
  width: 100vw;
}

.hero__frame-holder {
  position: absolute;
  width: 750px;
  height: 400px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__frame {
  width: 750px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(25px);
  box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hero__frame h1 {
  color: var(--color-purple-title);
  color: var(--color-grey);
}

.hero__circle-one,
.hero__circle-two {
  position: absolute;
  z-index: 5;
}

.hero__circle-one {
  width: 150px;
  height: 150px;
  transform: translate(-75px, 325px);
}

.hero__circle-two {
  width: 80px;
  height: 80px;
  transform: translate(710px, -35px);
}

.hero__image {
  width: 400px;
  height: 450px;
  position: absolute;
  right: 200px;
  bottom: 0px;
  z-index: 20;
}

.circle {
  color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  box-shadow: 0px 0px 1px rgba(10, 10, 10, 0.25);
}

.hero__small-circle {
  height: 100px;
  width: 100px;
}

.hero__medium-circle {
  width: 200px;
  height: 200px;
}

.circle-1 {
  top: 40%;
  left: 10%;
}

.circle-2 {
  top: 50%;
  right: 10%;
}

.circle-3 {
  bottom: 5%;
  left: 0%;
}

.circle-4 {
  bottom: 15%;
  right: 50%;
}

.circle-5 {
  width: 300px;
  height: 300px;
  top: -3%;
  left: -6%;
}

.circle-6 {
  top: 15%;
  right: -2%;
}
