#modal .background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(99, 99, 99, 0.7);
  z-index: 1000;
}

#modal .window {
  width: 800px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-pink-orange);
  z-index: 1000;
}

/*Phone and Phablets*/

@media screen and (min-width: 375px) and (max-width: 749px) {
  #modal .window {
    width: 90vw;
    height: 90vh;
    background-color: var(--color-pink-orange);
    z-index: 1000;
  }
}

/*Tablet*/

@media screen and (min-width: 750px) and (max-width: 1000px) {
  #modal .window {
    width: 95vw;
    height: 60vh;
  }
}
