.navbar {
  width: 100vw;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px var(--space-big);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.navbar-mobile {
  display: none;
}

.navbar button,
.navbar-mobile button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar__logo {
  width: 150px;
  height: 80px;
}

.navbar__links {
  width: 430px;
  height: 31px;
  display: flex;
  justify-content: space-around;
}

.navbar__links a {
  text-decoration: none;
  font-size: var(--text-paragraph);
  color: var(--color-purple);
  cursor: pointer;
}

/*Phones : iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

/*Media queries for iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

@media screen and (min-width: 375px) and (max-width: 749px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    width: 100vw;
    height: 80px;
    padding: 0px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
  }

  .navbar__logo {
    width: 80px;
    height: 50px;
    cursor: pointer;
  }

  .navbar__links {
    width: 35%;
    display: inline-flex;
    justify-content: space-around;
  }

  .navbar__links a {
    text-decoration: none;
    font-size: var(--text-paragraph-mobile);
    color: var(--color-purple);
    cursor: pointer;
  }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .navbar__links a {
    font-size: var(--text-paragraph-tablet);
  }
}
