.navbar {
  width: 100vw;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px var(--space-big);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.logo {
  background: none;
  border: none;
  cursor: pointer;
}

.logo img {
  width: 150px;
  height: 80px;
}

.navbar a {
  margin-right: var(--space-big);
  text-decoration: none;
  font-size: var(--text-paragraph);
  color: var(--color-purple);
  cursor: pointer;
}

.navbar a:first-of-type {
  margin-left: auto;
}

/*Phones : iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

/*Media queries for iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

@media screen and (min-width: 375px) and (max-width: 549px) {
  .navbar {
    justify-content: space-between;
    padding: 0px var(--space-small);
  }

  .logo img {
    width: 100px;
    height: 80px;
  }

  .navbar a {
    margin-right: 0px;
    font-size: var(--text-paragraph-mobile);
  }

  .navbar a:first-of-type {
    margin-left: 0px;
  }

  .navbar a:nth-child(2) {
    order: 1;
  }

  .navbar .logo {
    order: 3;
  }

  .navbar a:nth-child(3) {
    order: 2;
  }

  .navbar a:nth-child(4) {
    order: 4;
  }

  .navbar a:last-child {
    order: 5;
  }
}

@media screen and (min-width: 550px) and (max-width: 749px) {
  .navbar {
    justify-content: space-between;
    padding: 0px var(--space-medium);
  }

  .logo img {
    width: 120px;
    height: 80px;
  }

  .navbar a {
    font-size: var(--text-paragraph-tablet);
    margin-right: 0px;
  }

  .navbar a:first-of-type {
    margin-left: 0px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .navbar {
    justify-content: space-between;
    padding: 0px var(--space-medium);
  }
  .logo img {
    width: 120px;
    height: 80px;
  }

  .navbar a {
    font-size: var(--text-paragraph-tablet);
  }
}
