#projects {
  width: 100vw;
  height: auto;
  overflow: auto;
  display: flex;
  background-color: var(--color-white-pale);
}

#projects .section-one {
  width: 40vw;
  padding-left: var(--space-big);
  padding-right: var(--space-big);
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects h2 {
  margin-bottom: var(--space-title);
}

#projects .grid {
  width: 60vw;
  padding: var(--space-medium) var(--space-medium);
  background-color: var(--color-pink-orange);
  border-top: var(--space-top) solid var(--color-purple-light);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-medium);
  place-items: center;
}

/*Phones*/

@media screen and (min-width: 375px) and (max-width: 549px) {
  #projects {
    background-color: var(--color-pink-orange);
    flex-direction: column;
  }

  #projects .section-one {
    width: 100vw;
    margin-top: var(--space-top);
    padding: 0 var(--space-medium);
  }

  #projects h2 {
    margin-bottom: var(--space-title-mobile);
  }

  #projects .grid {
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    border-top: none;
    margin-top: var(--space-big);
    gap: var(--space-medium);
  }
}

/*Phablets*/

@media screen and (min-width: 550px) and (max-width: 749px) {
  #projects {
    background-color: var(--color-pink-orange);
    flex-direction: column;
  }

  #projects .section-one {
    width: 100vw;
    margin-top: var(--space-top);
    padding: 0 var(--space-medium);
  }

  #projects h2 {
    margin-bottom: var(--space-title-mobile);
  }

  #projects .grid {
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    border-top: none;
    margin-top: var(--space-big);
    gap: var(--space-small);
  }
}

/*Tablet*/

@media screen and (min-width: 750px) and (max-width: 1000px) {
  #projects .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Larger Screens 1024px upto 1280px*/

@media screen and (min-width: 1001px) and (max-width: 1280px) {
  #projects .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
