.project-card {
  position: relative;
  font-family: inherit;
  color: inherit;
  width: 215px;
  height: 210px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card div {
  width: 100%;
  height: 45px;
  padding: 5px;
}

.card__image {
  width: 215px;
  height: 165px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.overlay {
  font-weight: bold;
  width: 215px;
  height: 210px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 252, 252, 0.8);
}

/*Phone and Phablets*/

@media screen and (min-width: 375px) and (max-width: 800px) {
  .project-card {
    width: 150px;
    height: 180px;
  }

  .card div {
    height: 50px;
    padding: 2px;
  }

  .card__image {
    width: 150px;
    height: 130px;
  }

  .overlay {
    width: 150px;
    height: 180px;
  }
}

/*Large Screens*/

@media screen and (min-width: 1001px) and (max-width: 1280px) {
  .project-card {
    width: 180px;
    height: 180px;
  }

  .card div {
    height: 50px;
    padding: 2px;
  }

  .card__image {
    width: 180px;
    height: 130px;
  }

  .overlay {
    width: 180px;
    height: 180px;
  }
}
