.projects {
  height: 100vh;
  padding-left: 100px;
  background-color: #faf9f6;
  display: flex;
}

.projects__section-one {
  width: 40vw;
  padding-top: 250px;

  background-color: white;
  background-color: #faf9f6;
  position: relative;
}

.projects__content {
  height: 250px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

.projects__section-two {
  width: 75vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color-pale-pink); */
  background-color: var(--color-pink-orange);
}

.projects__card-holder {
  width: auto;
  height: auto;
  padding-top: 75px;
  display: grid;
  grid-gap: 40px 75px;
  grid-template-columns: auto auto auto;
}

.projects__card-holder li {
  list-style: none;
}

.projects__vertical-line {
  width: 5px;
  height: 100vh;
  position: absolute;
  right: 10px;
  background-color: var(--color-powder-blue);
}
