.project-item {
  width: 800px;
  height: 500px;
  display: flex;
}

.project-item__section-one {
  width: 50%;
  height: 100%;
}
.project-item__section-one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-item__section-two {
  width: 50%;
  height: 100%;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.project-item__section-two h3 {
  padding: 10px 0px;
}

.project-item__section-two p {
  padding: 10px 0px;
}

.close-button {
  background-color: var(--color-white-pale);
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: inherit;
}

.project-item__pills {
  padding: 10px 0px;
  width: 85%;
  height: 100px;
  overflow-wrap: break-word;
}

.pill {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.project-item__links {
  margin-top: auto;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-item__links button,
.project-item__links .button {
  height: 50px;
  width: 280px;
  border-radius: 5px;
  cursor: pointer;
}

.project-item__links .button {
  background-color: none;
  border: none;
}

.primary {
  border: 1px solid white;
  background-color: var(--color-purple-light);
}

.secondary {
  border: 1px solid white;
  background-color: white;
}

/*Phones : iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

/*Common media queries for iPhone SE, iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra*/

@media screen and (min-width: 375px) and (max-width: 767px) {
  .project-item {
    width: 100vw;
    height: 100%;
    flex-direction: column;
  }

  .project-item__section-one {
    width: 100%;
    height: 45%;
  }

  .project-item__section-two {
    width: 100%;
    height: 65%;
  }

  .pill {
    border-radius: 5px;
  }

  .close-button {
    top: -65%;
    right: 5%;
    background-color: var(--color-pink-orange);
  }

  .project-item__links {
    margin-top: 50px;
  }

  /*Specific media queries for iPhone SE*/

  @media screen and (min-width: 375px) and (max-width: 389px) {
    .project-item__links {
      margin-top: 20px;
    }

    .close-button {
      top: -80%;
      right: 2%;
      background-color: var(--color-pink-orange);
    }
  }
}

/*Tablet*/

/*Ipad Mini, Ipad Air*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .project-item {
    width: 100%;
    height: 100%;
  }

  .project-item__section-two {
    justify-content: space-between;
  }

  .pill {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }

  .close-button {
    top: 5%;
    right: 5%;
    background-color: var(--color-white-pale);
  }
}
