.tech-card-button {
  position: relative;
  font-family: inherit;
  color: inherit;
  width: 130px;
  height: 180px;
  border: none;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  /* background-color: rgb(255, 255, 255); */
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-card__icon {
  width: 70px;
  height: 70px;
  border-radius: 20px 20px 0 0;
  object-fit: contain;
}

.tech-card div {
  width: 100%;
  padding: 10px;
}
