#technologies {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  background-color: var(--color-white-pale);
  border-bottom: var(--space-top) solid var(--color-moss-green);
}

#technologies .section-one {
  width: 40vw;
  padding-left: var(--space-big);
  padding-right: var(--space-big);
  display: flex;
  align-items: center;
  justify-content: center;
}

#technologies h2 {
  margin-bottom: var(--space-title);
}

#technologies .grid {
  width: 60vw;
  padding: var(--space-medium) var(--space-medium);
  border-top: var(--space-top) solid var(--color-purple-light);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-medium);
  place-items: center;
}

/*Phones*/

@media screen and (min-width: 375px) and (max-width: 549px) {
  #technologies {
    height: auto;
    flex-direction: column;
  }

  #technologies .section-one {
    width: 100vw;
    margin-top: var(--space-top);
    padding: 0 var(--space-medium);
  }

  #technologies h2 {
    margin-bottom: var(--space-title-mobile);
  }

  #technologies .grid {
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    border-top: none;
    margin-top: var(--space-big);
    gap: var(--space-medium);
  }
}

/*Phablets*/

@media screen and (min-width: 550px) and (max-width: 749px) {
  #technologies {
    height: auto;
    flex-direction: column;
  }

  #technologies .section-one {
    width: 100vw;
    margin-top: var(--space-top);
    padding: 0 var(--space-medium);
  }

  #technolgies h2 {
    margin-bottom: var(--space-title-mobile);
  }

  #technologies .grid {
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    border-top: none;
    margin-top: var(--space-big);
    gap: var(--space-small);
  }
}

/*Tablet*/

@media screen and (min-width: 750px) and (max-width: 1000px) {
  #technologies {
    height: auto;
  }
  #technologies .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Larger Screens 1024px upto 1280px*/

@media screen and (min-width: 1001px) and (max-width: 1280px) {
  #technologies {
    height: auto;
  }
  #technologies .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1512px) {
  #technologies {
    max-width: 1512px;
    margin: 0 auto;
  }
}
