#technologies .main {
  padding: 50px;
}

/* Desktop */
@media (min-width: 128px) {
  #technologies .main {
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: 960px;
    margin: 0 auto;
  }

  #technologies .section-one,
  #technologies .section-two {
    width: 50%;
  }

  #technologies .section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #technologies .section-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}
