/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Akaya Telivigala", cursive;
  color: var(--color-grey);
  line-height: 200%;
  scroll-behavior: smooth;
}
