/*Colors*/

:root {
  --color-moss-green: #addfad;
  --color-purple: #912db4;
  --color-purple-light: rgba(212, 159, 232, 0.7);
  --color-pink-orange: #ffdacc;
  --color-grey: #453c3c;
  --color-white-pale: #faf9f6;
}

/*Space*/

:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 32px;
  --space-top: 80px;
  --space-title: 40px;
  --space-title-mobile: 25px;
}

/*Others*/

:root {
  --text-paragraph: 22px;
  --text-paragraph-mobile: 17px;
  --text-paragraph-tablet: 20px;
}
